.food-pics {
    width: 200px;
}

.title {
    text-align: center;
    color: #eb2626;
    border: #eb2626 solid 5px;
    border-radius: 30px;
    font-family: 'Italianno', cursive;
    font-size: 90px;
}

h1{
    color:#eb2626;
}

p{
    color:#eb2626;
    font-size:8px;
}

body{
background-color:#d93f3f;
}

button{
    outline:none;
}